body {
    font-family: 'Amatic SC', cursive;
    font-size: 14pt;
    color: white;
    background-image: url(/img/2560x1440\ Preview\ wallpaper\ dark\,\ spots\,\ texture\,\ background\ 2560x1440.jpg);
}

h1, h2 {
    color: #10f009;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #10f009, green);
    color: Black;
}

.navbar, .nav-link {
    font-size: 24pt;
    background-color: silver;
    color: black;
}

li a:hover {
    color: white;
    padding-top: 0px;
    border-bottom: solid white 4px;
    border-radius: 4px;
}

.row-content {
    padding: 10px;
    color: black;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid darkgreen;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.card-group{
    border: 4px ridge darkgreen;
}

.site-footer {
    padding: 20px;
}


.address-info {
    max-width: 75%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

#map {
    height: 500px;
    width: 100%;
}
 .card-hours {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 form {
     margin: 10px;
     padding: 20px;
     border-radius: 3px;
     background-color: white;
 }

 .form-label {
     padding: 5px;
     font-size: 16pt;
     color: black;
 }